__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
env/
.git/
.gitignore
frontend/node_modules/
frontend/dist/
node_modules/
static/react-assets/
media/
staticfiles/
db.sqlite3
.DS_Store
README.md
API_Documentation.docx
docker-compose.yml
docker-compose.dev.yml
nginx.conf
